<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estadistica</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="texto" style="
background-image: url(https://cdn.wallpapersafari.com/66/89/piUObg.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;

">
  <header>
    <h1>Estadistica</h1>
    <nav>
      <ul>
        <li><a href="/proyecto">Inicio</a></li>
        <!-- <li><a href="#">Sobre Nosotros</a></li>
        <li><a href="#">Servicios</a></li> -->
        <li><a href="/login/logout">Cerrar Sesion</a></li>
      </ul>
    </nav>
  </header>
  
  <main class=" estadistica">
  <div class="container mt-5">
    <h1 class="text-center">Gestión de Tareas</h1>
    <div class="d-flex justify-content-end mb-3">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addEstadistica">Añadir
        Trabajo</button>
    </div>
    <table class="texto table table-border">
      <thead class="thead-dark">
        <tr>
          <td>ID</td>
          <td>Trabajo</td>
          <td>Fecha de Inicio</td>
          <td>Fecha de Entrega</td>
          <td>Estado</td>
          <td>Parcial</td>
          <td>Calificacion</td>
          <td>Valor del Trabajo</td>
        </tr>
      </thead>
      <tbody>
        <% esta.forEach(materiaEsta=> { %>
          <tr>
            <td> <%= materiaEsta.id %> </td>
            <td> <%= materiaEsta.nombre %> </td>
            <td> <%= materiaEsta.fecha %> </td>
            <td> <%= materiaEsta.fecha_termina %> </td>
            <td> <%= materiaEsta.estado %> </td>
            <td> <%= materiaEsta.parcial %> </td>
            <td> <%= materiaEsta.calificacion %> </td>
            <td> <%= materiaEsta.valor_cal %> </td>
            <td>
              <button class="btn btn-warning btn-sm" data-toggle="modal"
                data-target="#editEstadistica<%= materiaEsta.id %>">Editar</button>
              <a href="/proyecto/estadistica/delete/<%= materiaEsta.id %>" onclick="deleteEstadistica( materiaEsta.id )"
                class="btn btn-primary btn-sm">Borrar</a>
            </td>
          </tr>


          <% }) %>
      </tbody>
    </table>
  </div>

  <!-- Modal para agregar proveedor -->
  <div class="modal fade" id="addEstadistica" tabindex="-1" role="dialog" aria-labelledby="addEstadisticaModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div style="background-color: rgba(167, 58, 80, 0.89);"  class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addEstadisticaModalLabel">Agregar Proveedor</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/proyecto/estadistica/add" method="POST">
            <div class="form-group">
              <label for="nombre">Nombre del trabajo:</label>
              <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
            <div class="form-group">
              <label for="fecha">Fecha de Inicio:</label>
              <input type="date" class="form-control" id="fecha" name="fecha" required>
            </div>
            <div class="form-group">
              <label for="fecha_termina">Fecha de Entrega:</label>
              <input type="date" class="form-control" id="fecha_termina" name="fecha_termina" required>
            </div>
            <div class="form-group">
              <label for="estado">Estado del trabajo:</label>
              <select id="estado" name="estado" required>
                <option value="Pendiente">Pendiente</option>
                <option value="Entregado">Entregado</option>
                <option value="No Entregado">No Entregado</option>
              </select>
            </div>
            <div class="form-group">
              <label for="parcial">Parcial:</label>
              <select id="parcial" name="parcial" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
            <div class="form-group">
              <label for="calificacion">Calificacion:</label>
              <input type="number" class="form-control" id="calificacion" name="calificacion" required>
            </div>
            <div class="form-group">
              <label for="valor_cal">Valor del Trabajo:</label>
              <input type="number" class="form-control" id="valor_cal" name="valor_cal" required>
            </div>

            <button type="submit" class="btn btn-primary">Agregar</button>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para editar trabajo -->
  <% esta.forEach(materiaEsta=> { %>

  <div class="modal fade" id="editEstadistica<%= materiaEsta.id %>" tabindex="-1" role="dialog"
    aria-labelledby="editEstadisticaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div style="background-color: rgba(167, 58, 80, 0.89);"  class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editEstadisticaLabel">Editar Proveedor</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/proyecto/estadistica/edit/<%= materiaEsta.id %>" method="POST">
            <div class="form-group">
              <label for="nombre">Nombre del trabajo:</label>
              <input type="text" class="form-control" id="nombre" value="<%= materiaEsta.nombre %>" name="nombre" required>
            </div>
            <div class="form-group">
              <label for="fecha">Fecha de Inicio:</label>
              <input type="date" class="form-control" id="fecha" value="<%= materiaEsta.fecha %>" name="fecha" required>
            </div>
            <div class="form-group">
              <label for="fecha_termina">Fecha de Entrega:</label>
              <input type="date" class="form-control" id="fecha_termina" value="<%= materiaEsta.fecha_termina %>" name="fecha_termina" required>
            </div>
            <div class="form-group">
              <label for="estado" >Estado del trabajo:</label>
              <select id="estado" name="estado" required>
                <option value="Pendiente" <%= materiaEsta.estado = 'Pendiente' ? 'selected' : '' %>>Pendiente</option>
                <option value="Entregado" <%= materiaEsta.estado = 'Entregado' ? 'selected' : '' %>>Entregado</option>
                <option value="No Entregado" <%= materiaEsta.estado = 'No Entregado' ? 'selected' : '' %>>No Entregado</option>
            </select>
            </div>
            <div class="form-group">
              <label for="parcial" >Estado del trabajo:</label>
              <select id="parcial" name="parcial" required>
                <option value="1" <%= materiaEsta.parcial = '1' ? 'selected' : '' %>>1</option>
                <option value="2" <%= materiaEsta.parcial = '2' ? 'selected' : '' %>>2</option>
                <option value="3" <%= materiaEsta.parcial = '3' ? 'selected' : '' %>>3</option>
            </select>
            </div>
            <div class="form-group">
              <label for="calificacion">Calificacion:</label>
              <input type="number" class="form-control" id="calificacion" value="<%= materiaEsta.calificacion %>" name="calificacion" required>
            </div>
            <div class="form-group">
              <label for="valor_cal">Calificacion:</label>
              <input type="number" class="form-control" id="valor_cal" value="<%= materiaEsta.valor_cal %>" name="valor_cal" required>
            </div>

            <button type="submit" class="btn btn-primary">Editar</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <% }) %>
    </tbody>
</main>
    <footer>
      <p>&copy; 2024 Mi Sitio Web. Todos los derechos reservados.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>


</html>