<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador de trabajos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body   
style="background-color: white;"

>

<!-- background-image: url(https://wallpapers-clan.com/wp-content/uploads/2024/02/aesthetic-minecraft-landscape-desktop-wallpaper-preview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
     -->
<%- include('sidebar') %>

    <header >
        <h1>Tus tareas</h1>
        
    </header>

    <main >
        <div class="container mt-5">
            <h2 style="color: rgb(0, 0, 0);font-weight: bold;">Trabajos Recientes</h2>
            
        </div>

        <table  class=" texto table">
            <thead class="thead-dark">
              <tr>
                <td>ID</td>
                <td>Asignatura</td>
                <td>Trabajo</td>
                <td>Fecha de Inicio</td>
                <td>Fecha de Entrega</td>
                <td>Estado</td>
                <td>Parcial</td>
                <td>Calificacion</td>
                <td>Valor del Trabajo</td>
              </tr>
            </thead>
            <tbody>
                <% registros.forEach(tarea=> { %>
                  <tr>
                    <td> <%= tarea.id %> </td>
                    <td> <%= tarea.materia %> </td>
                    <td> <%= tarea.nombre %> </td>
                    <td> <%= tarea.fecha %> </td>
                    <td> <%= tarea.fecha_termina %> </td>
                    <td class="<%= tarea.estado === 'Pendiente' ? 'estado-pendiente' 
                                  : tarea.estado === 'Entregado' ? 'estado-en-progreso' 
                                  : tarea.estado === 'No Entregado' ? 'estado-completado' : '' %>">
                        <%= tarea.estado %> </td>
                    <td> <%= tarea.parcial %> </td>
                    <td> <%= tarea.calificacion %> </td>
                    <td> <%= tarea.valor_cal %> </td>
                    
                  </tr>
        
        
                  <% }) %>
              </tbody>
          </table>
      
    </main>

    <footer>
        <p>&copy; 2024 Mi Sitio Web. Todos los derechos reservados.</p>
    </footer>
</body>

</html>